<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>329281453985-d5r5e367ida52ckerdl2qhkbqedal2td.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.329281453985-d5r5e367ida52ckerdl2qhkbqedal2td</string>
	<key>API_KEY</key>
	<string>AIzaSyCwsNfsX4D4UnfgTvf0e5tSYSVvHUGRDGQ</string>
	<key>GCM_SENDER_ID</key>
	<string>329281453985</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.advatix.Hackthon</string>
	<key>PROJECT_ID</key>
	<string>crowdsource-hackthon</string>
	<key>STORAGE_BUCKET</key>
	<string>crowdsource-hackthon.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:329281453985:ios:d87978cb07e601818415e0</string>
</dict>
</plist>